/*
    Css Layput - Float & clear
*/

*{
    box-sizing: border-box;
}
.box{
    float: left;
    width: 33.33%;
    padding: 50px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*
    Nav bar
*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
.active{
    background-color: red;
}