$colors : red,blue,green,yellow,black;

@for $i from 1 through 5{
    .item-#{$i}{
        width: 100px * $i;
        height: 50px;
        margin-bottom:10px;
        background-color: nth($colors,$i);
    }
}

@each $color in $colors{
    .text-#{""+$color}{
        color:$color;
    }
}
