.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* tooltip right */
.tooltipright {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltipright .tooltiptextright {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltipright:hover .tooltiptextright {
    visibility: visible;
  }

  /* arrow */

  .tooltiparrow {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltiparrow .tooltiptextarrow {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px; /*(120/2) = 60 centering*/
  }
  
  .tooltiparrow .tooltiptextarrow::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltiparrow:hover .tooltiptextarrow {
    visibility: visible;
  }