.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* color */
.button2 {
  background-color: #008cba;
} /* Blue */
.button3 {
  background-color: #f44336;
} /* Red */
.button4 {
  background-color: #e7e7e7;
  color: black;
} /* Gray */
.button5 {
  background-color: #555555;
} /* Black */

/* padding */
.button1pad {
  padding: 10px 24px;
}
.button2pad {
  padding: 12px 28px;
}
.button3pad {
  padding: 14px 40px;
}
.button4pad {
  padding: 32px 16px;
}
.button5pad {
  padding: 16px;
}

/* font size */
.button1size {
  font-size: 10px;
}
.button2size {
  font-size: 12px;
}
.button3size {
  font-size: 16px;
}
.button4size {
  font-size: 20px;
}
.button5size {
  font-size: 24px;
}
