#rcorners1{
    border-radius: 25px;
    background: #73ad21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners2{
    border-radius: 25px;
    border: 2px solid #73ad21;
    padding: 20px;
    width: 200px;
    height: 150px;
}
#rcorners3{
    border-radius: 25px;
    background: url(../img/icecream1.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}

/* css border-radius specify each corner */
#rcorners4{
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#rcorners5{
    border-radius: 15px 50px 30px ;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#rcorners6{
    border-radius: 15px 50px ;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
#rcorners7{
        border-radius: 15px / 50px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;

}


