#borderimg{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/border.png) 30 round;
}
#borderimg1{ 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/border.png) 30 stretch;
}